<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default Test Suite">
    <listeners>
        <listener class-name="utils.reports.RetryListener"/>

        <!-- Listeners for ReportNg
          <listener class-name="org.uncommons.reportng.HTMLReporter"/>
           <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>-->
    </listeners>

    <test name="Default Basic Test">
        <classes>
            <class name="testSpec.TestNgDemoReport"></class>
        </classes>
    </test>

</suite>